# Regex library

test regex syntax at https://regex101.com/

In [4]:
import re

### Example text

In [27]:
chat1 = 'codebasics: you ask lot of questions ðŸ™„ 1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abX_82@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

Find phone number

In [28]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

matches = re.findall(pattern, chat2)
matches

['(123)-567-8912']

Find email

In [29]:
pattern2 = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-z]*'

matches = re.findall(pattern2, chat3)
matches

['abc@xyz.com']

### Example text2

In [41]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889912'
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [43]:
pattern3 = 'order[^\d]*(\d*)'

matches = re.findall(pattern3, chat1)
matches

['412889912']

### Example text3

In [2]:
text='''
Born	Eren Yeager
March 30, 847 (age 19)
Shiganshina District, Wall Maria
Citizenship
Eldian (Paradis Island)
Education	Military Training Corps (graduated 5th in class) (BS, BA)
Title
Founder of the Rumbling
Former member of the Scout Regiment (now disbanded)
Director, actor of attack on titan
Spouse(s)
None (died unmarried)
â€‹
â€‹(m. 2000; div. 2008)â€‹
None (died unmarried)
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [49]:
pattern = 'age (\d+)'

matches = re.findall(pattern, text)
matches

['19']

In [51]:
pattern = 'Born(.*)\n'

matches = re.findall(pattern, text)
matches[0].strip()

'Eren Yeager'

In [5]:
pattern = 'Born.*\n(.*)\(age'

matches = re.findall(pattern, text)
matches[0].strip()

'March 30, 847'

In [8]:
pattern = '\(age.*\n(.*)'

matches = re.findall(pattern, text)
matches[0].strip()

'Shiganshina District, Wall Maria'

In [9]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [10]:
get_pattern_match('\(age.*\n(.*)', text)

'Shiganshina District, Wall Maria'

In [12]:
def get_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [13]:
get_personal_information(text)

{'age': 19,
 'name': 'Eren Yeager',
 'birth_date': 'March 30, 847',
 'birth_place': 'Shiganshina District, Wall Maria'}

In [14]:
text2 = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [15]:
get_personal_information(text2)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}