### Question 1

Given the RDD [1, 2, 3, 4, 5, 6], find the sum of the squares of all even numbers.

In [1]:
from pyspark import SparkContext
sc = SparkContext('local', 'Question_1')
rdd = sc.parallelize([1, 2, 3, 4, 5, 6], numSlices=2)
# sum of the squares of all even numbers.
filtered_rdd = rdd.filter(lambda x: x % 2 == 0)
mapped_rdd = filtered_rdd.map(lambda x: x ** 2)
result = mapped_rdd.reduce(lambda x, y: x + y)
print(result)
sc.stop()

56

### Question 2

Given the RDD [7, 2, 10, 5, 8, 3], find the maximum even number.

In [2]:
from pyspark import SparkContext
sc = SparkContext('local', 'Question_2')
rdd = sc.parallelize([7, 2, 10, 5, 8, 3], numSlices=2)
max_even = rdd.filter(lambda x: x % 2 == 0).max()
print(max_even)
sc.stop()

10

### Question 3

Given the RDD [10, 20, 15, 30, 50, 35, 40, 45, 25]:

a. Filter and create a new RDD containing only even numbers.

In [12]:
from pyspark import SparkContext
sc = SparkContext('local', 'Question_3')
rdd = sc.parallelize([10, 20, 15, 30, 50, 35, 40, 45, 25], numSlices=2)
EvenRdd = rdd.filter(lambda x: x % 2 == 0)
print("a, ",EvenRdd.collect())

a,  [10, 20, 30, 50, 40]

b. Multiply each number by 2 using the map() transformation.

In [13]:
MultipliedRdd = EvenRdd.map(lambda x: x * 2)
print("b, ",MultipliedRdd.collect())

b,  [20, 40, 60, 100, 80]

c. Group numbers into two categories using the groupBy() transformation.

- I Less than or equal to 25.
- II Greater than 25.

In [14]:
result = MultipliedRdd.groupBy(lambda x: x <= 25).collect()
sorted_result = sorted([(x, sorted(y)) for (x, y) in result])
print("c i, ",sorted_result[1])
print("c ii, ",sorted_result[0])

c i,  (True, [20])
c ii,  (False, [40, 60, 80, 100])

d. Collects and prints the group names using mapValues().

In [15]:
grouped_rdd = MultipliedRdd.groupBy(lambda x: "≤ 25" if x <= 25 else ">")
result = grouped_rdd.mapValues(list).collect()
for group, values in result:
    print(f"{group}: {values}")

>: [40, 60, 100, 80]
≤ 25: [20]

In [16]:
sc.stop()