### Question 1

In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [19]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''

In [17]:
doc = nlp(text)
propn = [token.text for token in doc if token.pos_ == "PROPN"]
propn

['Raju', 'Paris', 'London', 'Dubai', 'Rome', 'Mohan', 'Hyderabad']

In [29]:
len(propn)

7

### Question 2

In [31]:
text = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''

In [32]:
doc = nlp(text)

org = [ent.text for ent in doc.ents if ent.label_ == "ORG"]
org

['Tesla',
 'Walmart',
 'Amazon',
 'Microsoft',
 'Google',
 'Infosys',
 'Reliance',
 'HDFC Bank',
 'Hindustan Unilever',
 'Bharti Airtel']

In [33]:
len(org)

10