In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")

### Question 1

In [2]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [11]:
from spacy.tokens import Span

name = Span(doc, 0, 1, label="PERSON")

doc.set_ents([name], default="unmodified")

In [12]:
GPE = []

for ent in doc.ents:
    if ent.label_ == "GPE" :
      GPE.append(ent)

In [13]:
GPE

[India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

In [14]:
len(GPE)

7

### Question 2

In [15]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [17]:
BD = []

for ent in doc.ents:
  if ent.label_ == "DATE":
    BD.append(ent)

In [18]:
BD

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

In [19]:
len(BD)

4