**Based on the dataset provided**
- Create a dataframe using a list of tuples
- Show all the records and count the number of records
- Find students whose age are 21 or older using Spark SQL & PySpark DF API
- Calculate the average age using Spark SQL & PySpark DF API
- Fetch students who studying Mathematics using Spark SQL & PySpark DF API

name,age,grade,subject

Alice,20,85,Math

Bob,22,78,Science

Charlie,21,90,Math

David,23,76,History

Eva,20,92,Science

Show all the records and count the number of records

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Homework5_1").getOrCreate()
data = [("Alice", 20, 85, "Math"), ("Bob", 22, 78, "Science"), ("Charlie", 21, 90, "Math"), ("David", 23, 76, "History"), ("Eva", 20, 92, "Science")]
columns = ["Name", "Age", "Grade", "subject"]

df = spark.createDataFrame(data, columns)
df.show()

+-------+---+-----+-------+
|   Name|Age|Grade|subject|
+-------+---+-----+-------+
|  Alice| 20|   85|   Math|
|    Bob| 22|   78|Science|
|Charlie| 21|   90|   Math|
|  David| 23|   76|History|
|    Eva| 20|   92|Science|
+-------+---+-----+-------+

In [2]:
print("Records:",df.count())
print()

Records: 5

In [3]:
df.createOrReplaceTempView("list")

Find students whose age are 21 or older using Spark SQL & PySpark DF API

In [10]:
# Spark SQL
spark.sql("SELECT * FROM list WHERE Age >= 21").show()

+-------+---+-----+-------+
|   Name|Age|Grade|subject|
+-------+---+-----+-------+
|    Bob| 22|   78|Science|
|Charlie| 21|   90|   Math|
|  David| 23|   76|History|
+-------+---+-----+-------+

In [12]:
# PySpark DF API
df.filter(df.Age >= 21).show()

+-------+---+-----+-------+
|   Name|Age|Grade|subject|
+-------+---+-----+-------+
|    Bob| 22|   78|Science|
|Charlie| 21|   90|   Math|
|  David| 23|   76|History|
+-------+---+-----+-------+

Calculate the average age using Spark SQL & PySpark DF API

In [9]:
# Spark SQL
spark.sql("SELECT AVG(Age) FROM list;").show()

+--------+
|avg(Age)|
+--------+
|    21.2|
+--------+

In [15]:
# PySpark DF API
from pyspark.sql.functions import avg
df.select(avg("age")).show()

+--------+
|avg(age)|
+--------+
|    21.2|
+--------+

Fetch students who studying Mathematics using Spark SQL & PySpark DF API

In [8]:
# Spark SQL
spark.sql("SELECT * FROM list WHERE subject = 'Math';").show()

+-------+---+-----+-------+
|   Name|Age|Grade|subject|
+-------+---+-----+-------+
|  Alice| 20|   85|   Math|
|Charlie| 21|   90|   Math|
+-------+---+-----+-------+

In [16]:
# PySpark DF API
df.filter(df.subject == "Math").show()

+-------+---+-----+-------+
|   Name|Age|Grade|subject|
+-------+---+-----+-------+
|  Alice| 20|   85|   Math|
|Charlie| 21|   90|   Math|
+-------+---+-----+-------+

In [17]:
spark.stop()